header {
  position: relative;
  
  z-index: 10;
}

.successMsg {
  position:absolute;
  top:0;
  animation: mymove 4.5s ease-in forwards
}

@keyframes mymove {
  0% {top: -4rem; opacity: 0;}
  15% {top: 0; opacity: 1;}
  50% {top: 0; opacity: 1;}
  85% {top: 0; opacity: 1;}
  100% {top: -4rem; opacity: 0;}
}